<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="../js/404.js"></script>
    <link rel="stylesheet" href="../css/404.css">
    <title>404 - Page Not Found</title>

</head>

<body>
    
    <div class = "top-banner-wrapper">

        <div class = "top-banner-padding">

            Code Community

        </div>

    </div>

    <div class = "body-wrapper">

        <div class = "body-wrapper-padding">

            <p class = "label-404">404</p>
            <p class = "subheading-404">Page Not Found.</p>
            <p class = "path">Path Specified: <%- message %></p>

        </div>

    </div>

    <div class = "footer-wrapper">

        <div class =  "footer-wrapper-padding">

            <a class = "footer-redirects" href = "https://discord.com/invite/hvYP56K" target = "_blank">Discord</a>
            <a class = "footer-redirects" href = "https://github.com/gavintjhxx/code-community" target = "_blank">GitHub</a>
            <a class = "footer-redirects" href = "./home.ejs">Home</a>
            <a class = "footer-redirects" href = "./signup.ejs">Sign Up</a>
            <a class = "footer-redirects" href = "./login.ejs">Login</a>

        </div>

    </div>

</body>

</html>
