<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src = "../js/home.js"></script>
    <link rel="stylesheet" href="../css/home.css">

</head>

<body onload = slidein()>
    
    <div class = "top-banner-wrapper">

        <div class = "top-banner-padding">

            Code Community

        </div>

    </div>

    <div class = "body-section-a-wrapper">

        <img src = "../images/code background.png" class = "code-background">
        <p id = "slide-in-text" class = "body-section-a-text">We aim to help developers solve their issues without judgements.</p>

    </div>

    <div class = "body-section-b-wrapper">

        <p class = "credits-header">This website was made possible by our amazing group of helpers and developers.</p>

        <div class = "body-section-b-grid">

            <div class = "body-section-b-grid-items">

                <p class = "credits-section-header">Main Developers</p>

                <div class = "credits-section-body">

                    <p class = "credits-section-name">lost (OfficiallyLost) - Backend</p>
                    <p class = "credits-section-name">Zlothy Woofy (Zloth) - Frontend</p>

                </div>

            </div>

            <div class = "body-section-b-grid-items">

                <p class = "credits-section-header">Helper Team</p>

                <div class = "credits-section-body">

                    <p class = "credits-section-name">Lemon (LemonFX) - Contributor</p>
                    <p class = "credits-section-name">Fang (DOGEDemonWolfFang) - Contributor</p>
                    <p class = "credits-section-name">DutchBoye (DutchBoye) - Code Reviewer</p>

                </div>

            </div>

        </div>

    </div>

    <div class = "footer-wrapper">

        <div class =  "footer-wrapper-padding">

            <a class = "footer-redirects" href = "https://discord.com/invite/hvYP56K" target = "_blank">Discord</a>
            <a class = "footer-redirects" href = "https://github.com/gavintjhxx/code-community" target = "_blank">GitHub</a>
            <a class = "footer-redirects" href = "https://codecommunity.cloud.libraryofcode.org/home">Home</a>
            <a class = "footer-redirects" href = "https://codecommunity.cloud.libraryofcode.org/signup">Sign Up</a>
            <a class = "footer-redirects" href = "https://codecommunity.cloud.libraryofcode.org/login">Login</a>

        </div>

    </div>

</body>

</html>