<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <script src = "../js/home.js"></script>
    <link rel="stylesheet" href="../css/home.css">

</head>

<body onload = slidein()>
    
    <div class = "top-banner-wrapper">

        <div class = "top-banner-padding">

            Code Community

        </div>

    </div>

    <div class = "body-section-a-wrapper">

        <img src = "../images/code background.png" class = "code-background">
        <p id = "slide-in-text" class = "body-section-a-text">We aim to help developers solve their issues without judgements.</p>

    </div>

</body>

</html>