<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="../css/signup.css">
    <script src="../js/signup.js"></script>

</head>

<body>
    
    <div class = "top-banner">

        <div class = "top-banner-header">Code Community</div>

    </div>

    <div class = "main-wrapper-grids">

        <div class = "main-grid-items">

            <div class = "main-form">

                <form action="/create" method="POST">

                    <p class = "form-title">Sign Up</p>
                    <br><br><br>
                    <label for="username" class = "form-label">Username</label><br><br>
                    <input type="text" id="username" name="username" class = "form-user-input" placeholder = "Username"><br><br>
                    <label for="password" class = "form-label">Password</label><br><br>
                    <input type="password" id="password" name="password" class = "form-user-input" placeholder = "Password"><br><br>
                    <label for="confirmPassword" class = "form-label">Confirm Password</label><br><br>
                    <input type="password" id="confirmPassword" name="confirmPassword" class = "form-user-input" placeholder = "Confirm Password">
                    <p class = "form-error-message"><%- message %></p>
                    <br><br><br>
                    <input type = "submit" class = "form-submit-button" value = "Sign Up">

                </form>

            </div>

        </div>

        <div class = "main-grid-items">

            <img class = "main-logo-wrapper" src = "../images/code background.png">
            <p class = "logo-overlay-text">We aim to help developers solve their issues without judgements.</p>
    
        </div>

    </div>

    <div class = "footer-wrapper">

        <div class =  "footer-wrapper-padding">

            <a class = "footer-redirects" href = "https://discord.com/invite/hvYP56K" target = "_blank">Discord</a>
            <a class = "footer-redirects" href = "https://github.com/gavintjhxx/code-community" target = "_blank">GitHub</a>
            <a class = "footer-redirects" href = "./home.ejs">Home</a>
            <a class = "footer-redirects" href = "./login.ejs">Login</a>

        </div>

    </div>

</body>

</html>
