<!DOCTYPE html>

<html lang="en">

<head>

    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sign Up Page</title>
    <link rel="stylesheet" href="../css/signup.css">
    <script src="../js/signup.js"></script>

</head>

<body>
    
<<<<<<< HEAD
    <div class = "profile-wrapper">

        <div class = "header-field">

            <p class =  "header">Sign Up</p>

        </div>
        <div class="details-field">
            <form action="/create" method="post">
            <div class="details-center">
                <input type="text" name="username" id="username" placeholder="Username" class="inputDetails">
                <p class="details-err" id="details-username-err"></p>
                <br><br>
                <input type="password" name="password" id="password" class="inputDetails">
                <br><br><br><br>
                <button class="signupBotton">Sign Up</button>
            </div>
        </form>
        </div>
 
        <div class = "signUpRedirect">

            <a class = "noDecoLink" target = "_blank">Already have an account? Sign In.</a>

        </div>

    </div>

    <div class = "bottom-bar-wrapper">

        <div class = "bottom-bar">

            <img src = "../images/codecommunity.png" class = "logo">
            <p class = "footer-text">Code Community</p>

        </div>

    </div>
=======
    
>>>>>>> b51c7831cfb98495a440427fb4a582c3e7cdbade

</body>

</html>